.onovo-header {
    background-color: #4b10104f;
}

.onovo-logo-image {
    border-radius: 15px;
    overflow: hidden;
} 

.h-second{
    font-size: 7vw;
    display: block;
}

.sep-img{
    background-size: auto;
}