:root{
    --antor-theme-color:  #3b879d;
}

.onovo-header {
    background-color: #4b10104f;
}


.onovo-logo-image {
    border-radius: 50%;
    overflow: hidden;
} 

.h-second{
    font-size: 7vw;
    display: block;
}

.sep-img{
    background-size: auto;
}

h5.onovo-title-3{
    font-size: 2rem;
}

h2.onovo-title-2{
    margin-left: -5px;
}

.antor-h2{
    text-align: center;
    margin-bottom: 70px;
    color: var(--antor-theme-color);
    text-shadow:1px 1px 1px black;
}

.onovo-service-grid-item .image img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--antor-theme-color);
    object-fit: contain;
}


.subscribe-form{
    display: flex;
    gap: 20px;
    width: 50%;
    margin: auto;
}

.subscribe-form button{
    width: 200px;
}

.onovo-cta-social{
    width: auto;
    height: auto;
} 

.get-in-touch a{
    font-size: 1.5rem;
}

.get-in-touch p{
    color: white;
    background-color: rgba(0, 0, 0, 0.188);
}

@media only screen and (max-width: 500px) {
    .center-on-mobile{
        text-align: center;
    }

    .antor-h2{
        margin-top: 3rem;
    }

    .subscribe-form{
        width: 100%;
        flex-direction: column;
    }

    .get-in-touch a{
        font-size: 1rem;
    }

    .subscribe-form {
        align-items: center;
    }
}