:root{
    --antor-theme-color:  #3b879d;
}

.onovo-header {
    background-color: #4b10104f;
}


.onovo-logo-image {
    border-radius: 50%;
    overflow: hidden;
} 

.h-second{
    font-size: 7vw;
    display: block;
}

.sep-img{
    background-size: auto;
}

h5.onovo-title-3{
    font-size: 2rem;
}

h2.onovo-title-2{
    margin-left: -5px;
}

.antor-h2{
    text-align: center;
    margin-bottom: 70px;
    color: var(--antor-theme-color);
    text-shadow:1px 1px 1px black;
}

.onovo-service-grid-item .image img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--antor-theme-color);
    object-fit: contain;
}


@media only screen and (max-width: 500px) {
    .center-on-mobile{
        text-align: center;
    }
}