:root{
    /* --antor-theme-color:  #3b879d; */
    /* --antor-theme-color:  #D8FF36; */
    --antor-theme-color:  #FF6000;
}

@keyframes blur-to-visible {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* video cover, hiden on load  */
#hide-on-load {
    width: 100vw;
    height: 105vh;
    background-image: linear-gradient(146deg, #837c7c, #444460);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity .5s;
    transform: translate(-50%, -50%);
}

.onovo-hero .container {
    padding-top: 45px;
}

.antor-h1 span{
    opacity: 0;
    display: block;
    position: relative;
    font-family: 'Playfair Display', serif;
}

.antor-h1 span::first-letter{
    color:var(--antor-theme-color)
}

.antor-h1 span:nth-child(1){
    animation: blur-to-visible 1s .1s ease-out forwards;
}
.antor-h1 span:nth-child(2){
    animation: blur-to-visible 1s .2s ease-out forwards;
}
.antor-h1 span:nth-child(3){
    animation: blur-to-visible 1s .3s ease-out forwards;
}
.antor-h1 span:nth-child(4){
    animation: blur-to-visible 1s .4s ease-out forwards;
}

p.a-title{
    position: absolute;
    font-size: 1.5rem;
    bottom: 35px;
    right: 15%;

    animation: blur-to-visible 1s .2s ease-out forwards;
}


.onovo-header {
    background-color: #4b10104f;
}


.onovo-logo-image {
    border-radius: 50%;
    overflow: hidden;
} 

.h-second{
    font-size: 7vw;
    display: block;
}

.sep-img{
    background-size: auto;
}

h5.onovo-title-3{
    font-size: 2rem;
}

h2.onovo-title-2{
    margin-left: -5px;
}

.antor-h2{
    text-align: center;
    margin-bottom: 70px;
    color: var(--antor-theme-color);
    text-shadow:1px 1px 1px black;
}

.onovo-service-grid-item .image img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--antor-theme-color);
    object-fit: contain;
}


.subscribe-form{
    display: flex;
    gap: 20px;
    width: 50%;
    margin: auto;
}

.subscribe-form button{
    width: 200px;
}
.subscribe-form button:hover{
    color: black;
    background-color: var(--antor-theme-color);
}

/* review section buttons  */
.js-reviews-carousel-navs {
    position: absolute;
    left: 0;
    bottom: 50%;
    font-size: 0;
}

.owner{
    width: 90vw;
    max-width: 1440px;
    margin: auto; 
    font-size: 1.3rem;
}

#owner-sectino-content{
    display: grid;
    grid-template-columns: 1fr 1fr;

    & p{
        font-size: 1rem;
    }
}

.owner img{
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 5px;
}

.onovo-cta-social{
    width: auto;
    height: auto;
} 

.get-in-touch a{
    font-size: 1.5rem;
    color: var(--antor-theme-color);
}

.get-in-touch p{
    color: white;
    background-color: rgba(0, 0, 0, 0.188);
}


.form-container{
    max-width: 700px;
    margin: auto;
}
.form-container form label{
    padding: 0;
}
.form-container form input{
    margin-bottom: 25px;
}
#time{
    border: 1px solid #B2B2B2;
    border-radius: 20px;
    display: block;
    height: 50px;
    padding: 15px;
    margin: auto;
    margin-bottom: 30px;
}

.form-container form button{
    display: block;
    margin: auto;
}
.form-container form button:hover{
    background-color: var(--antor-theme-color);
    color: black;
}


/* pop up styles  */
#submit-popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px;
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.679);
    overflow-y: scroll;
}
#submit-popup.hidden{
    display: none;
}

.popup-content{
    background-color: white;
    text-align: justify;
    padding: 25px;
    border-radius: 10px;
    font-weight: 500;
    max-width: 700px;
    margin: auto;

}
.popup-content > div{
    display: flex;
    justify-content: flex-end;
}
.popup-content button{
    background-color: transparent;
    border: 1px solid rgb(29, 28, 28);
    padding:0 .7rem;
    border-radius: 50px;
    font-size: 1.3rem;
}
.popup-content button:hover{
    background-color: var(--antor-theme-color);
    color: white;
}



/* more about us or this kind on button  */
.onovo-hover-btn::after, .onovo-btn .arrow::before{
    background-color: var(--antor-theme-color);
}

@media only screen and (max-width: 500px) {

    p.a-title{
        right:0;
        width: 100%;
        text-align: center;
    }

    .onovo-play-btn{
        display: none;
    }

    .center-on-mobile{
        text-align: center;
    }

    .antor-h2{
        margin-top: 3rem;
    }

    .subscribe-form{
        width: 100%;
        flex-direction: column;
    }

    #owner-sectino-content{
        grid-template-columns: 1fr;
    }
    .owner img{
        width: 100%;
    }

    .get-in-touch a{
        font-size: 1rem;
    }

    .subscribe-form {
        align-items: center;
    }

    .form-container{
        padding: 15px;
    }
    .popup-content{
        width: 100%;
        max-width: 100vw;
    }

}