.onovo-header {
    background-color: #52383f;

}

.onovo-hero {
    margin-top: 90px;
    height: calc(100vh - 90px);

    background: radial-gradient(circle at 84% 35%, rgba(238, 132, 67, 0.92) 0%, #D8D2CE 62%);
    font: Inter;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-contents {
    display: flex;
    justify-content: space-around;

    min-width: 90%;
    min-height: 85%;


    & * {
        padding: 0;
        margin: 0;
    }
}

/* main content design here  */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;

    width: 47%;
}

.addon-title {
    color: #0F0606;
    /* font-family: var(--font-inter); */

    /* font-family: Inter; */
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;

    & .bookkeeping {
        color: #0F0606;
        font-family: Sansita One;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
    }
}

.main-content>p {
    font-size: .9rem;
    font-weight: 500;
}

.orange-button {
    background-color: #EE8443EB;
    font-weight: 700;
    border: 1px solid;
    border-radius: 34px;
    padding: .5rem 1.5rem;
}

.lower-part-with-buttons {
    .buttons {
        display: flex;
        gap: 33px;
    }

    & h2 {
        font-size: 1rem;
        margin: 15px 0 0 0;


        & span {
            font-size: 2rem;
        }
    }

    & p {
        font-size: .6rem;
        margin: 0;
        font-weight: 500;
    }
}

/* form section design here  */
form.form-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px;
    border-radius: 22px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.24);

    & input,
    textarea {
        background-color: #D9D9D9;
        font-size: 1rem;
        padding: 1rem;
        height: 5px;
        border-radius: 10px;
    }

    & button#submit-button {
        background-color: #EE8443EB;
        height: auto;

        border: 1px solid black;
        border-radius: 34px;
        color: black;

        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;

        padding: .8rem 1.8rem;
    }
}


/* logos section  */
.logos {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & img:nth-child(2) {
        scale: 1.15;
    }
}


@media screen and (max-width: 550px) {
    .onovo-hero {
        display: block;
        height: auto;
        background: #52383f radial-gradient(circle at 138% 59%, rgba(238, 132, 67, 0.92) 0%, #D8D2CE 59%);
    }

    .hero-contents {
        flex-direction: column;
    }

    .main-content {
        order: 2;
        --webkit-order: 2;

        width: 100%;
        padding: 10px;

        gap: 50px;
    }

    .addon-title {
        font-size: 1.2rem;
        text-align: center;
    }

    br {
        display: none;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 33px;

        margin-bottom: 50px;
    }

    form.form-section {
        order: 3;
        --webkit-order: 3;

        width: 95%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;

        background-color: rgba(217, 217, 217, 0.24);

        & input,
        textarea {
            margin-bottom: 10px;
        }
    }

    .logos {
        order: 1;
        --webkit-order: 1;

        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;

        & img {
            width: 30%;
            object-fit: contain;
        }

        & img:nth-child(2) {
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 1460px) {

    /* main content design here  */
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;

        width: 47%;
    }

    .addon-title {
        color: #0F0606;
        /* font-family: var(--font-inter); */

        /* font-family: Inter; */
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem;

        & .bookkeeping {
            color: #0F0606;
            font-family: Sansita One;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
        }
    }

    .main-content>p {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .orange-button {
        font-size: 1.5rem;
    }

    .lower-part-with-buttons {
        .buttons {
            display: flex;
            gap: 33px;
        }

        & h2 {
            font-size: 2.5rem;
            margin: 15px 0 0 0;


            & span {
                font-size: 3.5rem;
            }
        }

        & p {
            font-size: 1.2rem;
            margin: 0;
            font-weight: 500;
        }
    }

    form.form-section {

        & input,
        textarea {
            padding: 2.5rem;
            font-size: 2rem;
        }

        & button#submit-button {
            font-size: 2rem;
            line-height: 2rem;
        }
    }


}